<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="make" />
      <package id="cmake" />
      <package id="cmdermini" />
      <package id="ctags" />
      <package id="powershell " />
      <package id="poshgit" />
      <package id="gow " />
      <package id="ag" />
      <!-- <package id="clover" version="3.2.5" /> -->
    </packages>
