[user]
	name        = veirus
	email       = thetauleherves@gmail.com
[alias]
	br          = branch
	co          = checkout
	ci          = commit
	c           = commit -am
	st          = status
	s           = status --short
	hist        = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	lg          = log --all --decorate --graph --date=short --format=format:'%Cblue%h%Creset %Cgreen%ad (%ar)%C(bold yellow)%d%Creset%n        %C(white)%s%Creset%n        %an'
	type        = cat-file -t
	dump        = cat-file -p
[oh-my-zsh]
	hide-status = 1
	hide-dirty  = 1
[core]
	autocrlf    = input
	quotepath   = false
[github]
	user        = veirus
[color]
	ui          = true
[merge]
	tool        = kdiff3
[diff]
	guitool     = kdiff3

[commit]
	verbose = true
